<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="styles/4-common.css">
    <link rel="stylesheet" type="text/css" href="styles/3-header.css">
    <link rel="stylesheet" type="text/css" href="styles/3-footer.css">
    <link rel="stylesheet" type="text/css" href="styles/6-filters.css">
    <link rel="icon" href="images/icon.png" />
    <title>HBnB</title>
  </head>
  <body>
    <header>
      <div class="logo"></div>
    </header>
    <div class="container">
      <section class="filters">
	<div class="locations">
	  <h3>States</h3>
	  <h4>&nbsp;</h4>
	  <div class="popover">
	    <ul>
	      <li>
		{% for key, value in states.items()|sort(attribute='1.name') %}
		<h2>{{ value.name }}</h2>
		<UL>
		  {% for city in value.cities|sort(attribute='name') %}
		  <LI>{{ city.name }}</LI>
		  {% endfor %}
		</UL>
		{% endfor %}
	      </LI>
	    </ul>
	  </div>
	</div>
	<div class="amenities">
	  <h3>Amenities</h3>
	  <h4>&nbsp;</h4>
	  <div class="popover">
	    <ul>
	      {% for key, value in amenities.items()|sort(attribute='1.name') %}
	      <LI>{{ value.name }}</LI>
	      {% endfor %}
	    </ul>
	  </div>
	</div>
	<button type="button">Search</button>
      </section>
    </div>
    <footer>
      <p>Holberton School</p>
    </footer>
  </body>
</html>
